<div class="table-container">
  <div class="table">
    <div class="table__body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Date</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data">
            <td>{{ d.id }}</td>
            <td>{{ d.title }}</td>
            <td>
              <span class="status-a">{{ d.status }}</span>
            </td>
            <td>{{ d.date }}</td>
            <td>
              <div class="options">
                <button>
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                |
                <button (click)="delete(d.id ? d.id : 0)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
